@model List<Application.ViewModels.SerieViewModel>

@{
    ViewData["Title"] = "Mantenimiento Series";
}

<div class="container-fluid">
    <div class="row mb-3 mt-4">
        <div class="col text-end " style="margin-right: 25px;">
            <a class="btn btn-primary text-white fw-bold" asp-action="Create" asp-controller="Serie">
                <i class="bi bi-plus-circle me-1"></i> Agregar
            </a>
        </div>
    </div>

    <div class="row" style="margin-top: -30px;">
        <div class="col-lg-3 col-md-4 col-sm-12 mt-5">
            <form asp-action="Index" method="get" class="p-3 bg-light rounded" style="margin-left: -40px;">
                <div class="mb-3">
                    <label for="GenreId" class="form-label fw-bold">Filtrar por género</label>
                    <select name="genreId" class="form-control">
                        <option value="">-- Selecciona un género --</option>
                        @foreach (var genre in ViewBag.Genres)
                        {
                            <option value="@genre.Value">@genre.Text</option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label for="ProducerId" class="form-label fw-bold">Filtrar por productora</label>
                    <select name="producerId" class="form-control">
                        <option value="">-- Selecciona una productora --</option>
                        @foreach (var producer in ViewBag.Producers)
                        {
                            <option value="@producer.Value">@producer.Text</option>
                        }
                    </select>
                </div>

                <button type="submit" class="btn btn-warning text-white fw-bold w-100">Filtrar</button>
            </form>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-12 mt-0">
            <div class="row mt-5">
                @if (Model == null || !Model.Any())
                {
                    <h2 class="fw-bold fs-1 ms-5">No hay Series :(</h2>
                }
                else
                {
                    for (int i = 0; i < Model.Count; i += 2)
                    {
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="card" style="background-color: #f8f9fa; border: none; box-shadow: 0 4px 8px rgba(0,0,0,0.2); height: 310px;">
                                    <div class="row g-0 position-relative">
                                        <div class="col-4 mb-md-0 p-md-2">
                                            <img class="bd-placeholder-img card-img-top" src="@Model[i].PortadaUrl" style="width:180px; height: 290px; object-fit: cover; border-radius: 10px;" />
                                        </div>
                                        <div class="col-8 p-2 ps-md-0">
                                            <div class="ms-5"> <h5 class="mt-0 fs-3 fw-bold ms-3 text-truncate" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@Model[i].Title</h5></div>
                                            <div class="ms-5"> <p class="fs-6 ms-3 text-info fw-bold">@Model[i].GenreName</p></div>
                                            <div class="d-flex ms-3 flex-wrap mb-5">
                                                @if (Model[i].Genres != null && Model[i].Genres.Any())
                                                {
                                                    for (int j = 0; j < Model[i].Genres.Count; j++)
                                                    {
                                                        <span class="fs-6 text-danger ms-5 mt-0" style="margin-bottom: 0.5rem;">@Model[i].Genres[j]</span>
                                                        @if ((j + 1) % 2 == 0 && j + 1 < Model[i].Genres.Count)
                                                        {
                                                            <div class="w-100 mt-3"></div>
                                                        }
                                                    }
                                                }
                                            </div>
                                            <div class="mb-5" style="margin-top: -30px;">
                                                <div class="ms-5"><span class="text-black fs-5 mb-3 text-truncate ms-3 fw-bold" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@Model[i].ProducerName</span></div>
                                                <div class="d-flex align-items-center">
                                                    <div class="btn-group ms-4" style="margin-top: 35px;">
                                                        <button class="btn btn-warning text-white fw-bold mt-2 ms-4 d-flex justify-content-center" style="width: 115px;" onclick="location.href='@Url.Action("Edit", "Serie", new { id = Model[i].Id })'">Editar</button>
                                                        <button class="btn btn-danger text-white fw-bold ms-1 mt-2 justify-content-center" style="width: 120px;" onclick="location.href='@Url.Action("Delete", "Serie", new { id = Model[i].Id })'">Eliminar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (i + 1 < Model.Count)
                            {
                                <div class="col-md-6">
                                    <div class="card" style="background-color: #f8f9fa; border: none; box-shadow: 0 4px 8px rgba(0,0,0,0.2);  height: 310px;">
                                        <div class="row g-0 position-relative">
                                            <div class="col-4 mb-md-0 p-md-2">
                                                <img class="bd-placeholder-img card-img-top" src="@Model[i + 1].PortadaUrl" style="width:180px; height: 290px; object-fit: cover; border-radius: 10px;" />
                                            </div>
                                            <div class="col-8 p-2 ps-md-0">
                                                <div class="ms-5"> <h5 class="mt-0 fs-3 ms-3 fw-bold text-truncate" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@Model[i + 1].Title</h5></div>
                                                <div class="ms-5"><p class="fs-6 ms-3 text-info fw-bold">@Model[i + 1].GenreName</p></div>
                                                <div class="d-flex ms-3 flex-wrap mb-5">
                                                    @if (Model[i + 1].Genres != null && Model[i + 1].Genres.Any())
                                                    {
                                                        for (int j = 0; j < Model[i + 1].Genres.Count; j++)
                                                        {
                                                            <span class="fs-6 text-danger ms-5 mt-0" style="margin-bottom: 0.5rem;">@Model[i + 1].Genres[j]</span>
                                                            @if ((j + 1) % 2 == 0 && j + 1 < Model[i + 1].Genres.Count)
                                                            {
                                                                <div class="w-100 mt-3"></div>
                                                            }
                                                        }
                                                    }
                                                </div>
                                                <div class="mb-5" style="margin-top: -23px;">
                                                    <div class="ms-5"> <span class="text-black fs-5 mb-3 ms-3 fw-bold">@Model[i + 1].ProducerName</span></div>
                                                    <div class="d-flex align-items-center">
                                                        <div class="btn-group ms-4" style="margin-top: 25px; ">
                                                            <button class="btn btn-warning text-white fw-bold ms-4 mt-2 d-flex justify-content-center" style="width: 115px; "  onclick="location.href='@Url.Action("Edit", "Serie", new { id = Model[i + 1].Id })'">Editar</button>
                                                            <button class="btn btn-danger text-white fw-bold  ms-1 mt-2 justify-content-center" style="width: 120px;" onclick="location.href='@Url.Action("Delete", "Serie", new { id = Model[i + 1].Id })'">Eliminar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
